.home {
    width: 100%;

    &-banner {
        display: grid;
        grid-gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
        margin-bottom: 64px;
    }

    @media screen and (max-width: 640px) {
        &-banner {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        }
    }

    &-articles {
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-gap: 32px;
        margin-top: 32px;
        @include font_color("font-secondary");

        &-left {
            .tab {
                width: 100%;
                @include background_color("background-secondary");
                margin: 0 0 36px 0;
                padding: 4px 28px;
                border-radius: $borderRadiusBig;
                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    .active {
                        width: 80px;
                        text-align: center;
                        font-weight: $fontWeightBold;
                        background: $bgLinearGradient;
                        span {
                            color: #fff;
                        }
                    }
                    li {
                        display: inline-block;
                        @include background_color("background-primary");
                        @include font_color("font-primary");
                        font-size: 14px;
                        border-radius: $borderRadiusMini;
                        padding: 8px 12px;
                        margin: 8px 16px 8px 0;
                        cursor: pointer;
                        span {
                            margin: 5px
                        }
                    }
                    li:hover {
                        opacity: 0.6;
                    }
                }
            }

            .list {
                display: grid;
                grid-gap: 32px;
                grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
                grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
            }
        }

        &-right {
            height: 100px;

            .IDCard {
                height: 500px;
                background: $bgLinearGradient;
                border-radius: $borderRadiusPlus;
                padding: 60px 5px 5px 5px;
                position: relative;
                margin: 0 auto;

                .mask {
                    width: calc(100% - 10px);
                    height: calc(100% - 65px);
                    border-radius: $borderRadiusPlus;
                    @include background_color_rgba("background-secondary-rgba");
                    position: absolute;
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
                    justify-items: center;

                    .avatar {
                        border-radius: 50%;
                        width: 120px;
                        height: 120px;
                        margin-top: -50px;
    
                        img {
                            border-radius: 50%;
                            width: 120px;
                            height: 120px;
                            @include avatar_border("avatar-border");
                        }
                    }

                    .name {
                        width: 100px;
                        font-weight: $fontWeightPlus;
                    }

                    .slogan{}
                }

            }
        }
    }

    @media screen and (max-width: 1024px) {
        &-articles {
            grid-template-columns: 1fr;
        }
    }
}