@import '../../styles/variable';
@import '../../styles/mixin';
@import '../../styles/handleThemes';

.header {
    height: 120px;
    padding: 16px 0;
    @include flex(space-between, center);

    &-left, &-right {
        @include flex();
    }

    &-logo {
        width: 120px;
        color: $colorLight;
        text-align-last: justify;
        font-weight: $fontWeightBold;

        &-name {
            font-size: $fontSizeBig;
        }

        &-usName {
            font-size: $fontSizeMiddle;
        }
    }

    &-nav {
        ul {
            @include flex();
            font-size: $fontSizeMiddle;

            .navLink {
                padding: 0 15px;
                color: $colorLight;
                @include center;
                text-decoration: none
            }
        }
    }

    &-operate {
        @include flex(space-between, center);

        span {
            display: block;
            margin: 0 0 0 15px;
        }

        &-toggle {
            @include background_color("background-primary");
            border-radius: $borderRadiusPlus;
            width: 40px;
            height: 20px;
            position: relative;

            .slide {
                width: 30px;
                height: 30px;
                border-radius: $borderRadiusPlus;
                position: absolute;
                transition: all .2s;
                top: -5px;
                @include flex(center, center)
            }

            .bgLight {
                background-color: $colorDark;
                left: -5px;
                opacity: 0.9;
            }

            .bgDark {
                background-color: #6e40c9;
                left: 15px;
            }
            
            .sliderLight {
                width: 25px;
                height: 25px;
                background: url('../../../src/assets/sun.svg') no-repeat;
                background-size: 100% 100%;
            }
            .sliderDark {
                width: 20px;
                height: 20px;
                background: url('../../../src/assets/moon.svg') no-repeat;
                background-size: 100% 100%;
            }
        }
    }
}